<div class = "center">

    <div class = "wide-margin">
          <h1>Log In Your Account</h1>
      </div>
      <div class = "center">
          <form class="form">
              <mat-form-field class="full-width">
                  <textarea matInput placeholder="Email/User Name"></textarea>
              </mat-form-field>

              <mat-form-field class="full-width">
                  <textarea matInput placeholder="Password"></textarea>
              </mat-form-field>
          </form>
      </div>


        <button class = "wide-margin" mat-raised-button color="primary">Log In</button>
  </div>

