h2 {
  color: white;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4.5em;
  padding-left: 10%;
  margin-block-end: 0em;
  margin-block-start: 0em;
}

.center-row {
  display: flex;
  align-items: center;
  margin-top: 1%;
  margin-left: 10%;
}

.intro-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
  color: #f9a825;
}

.header-bg {
  display: flex;
  height: 250px;
  background-color:#cabfdf;
  color: #3f327a;
  align-items: center;
}

.full-button {
  background: #ffb300;
  color: white;
}

.intro-img {
  width: 900px;
}
