<div class="header-bg"></div>
<div class="absolute-text"><h3>Record Your <span>New</span> Progress</h3></div>
<div class="fixed-bgImg">
    <img [src]="goalManageUrl">
</div>

<div class="absolute-position">
  <div class="center-column-bg">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [formControl]="date"
            placeholder="Choose a date to edit progress">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class = "full-screen-bg">
        <mat-tab-group>
            <mat-tab label="Active Goals" class="start-column">
                <div *ngFor = "let goal of goalArr">
                  <div *ngIf = "goal.endDate.getTime() > date.value.getTime() && goal.startDate.getTime() <= date.value.getTime()" class="goal-card">
                      <span>#{{ goal.name }}</span>
                      <span>
                          <span>Actual</span>
                          <input type="text" class="input-box" (input)="onTempEditProgress(goal.id, goal.name, $event)" id="inputProgress">
                          <span>/ Expected</span>
                          <span class="emphsis">{{ goal.avgWorkload | number:'1.1-1'}}</span>
                      </span>
                  </div>
                </div>
                <div class="end-row">
                    <button (click)="onUpdateProgress(f)" mat-flat-button class="empty-button">Save New Progress</button>
                    <button mat-flat-button class="full-button" (click)="directToProgress()">View Detailed Progress</button>
                </div>
                <div *ngIf="isLoading">
                  <app-loading-spinner></app-loading-spinner>
                </div>
                <div *ngFor="let resMsg of updateMsg">
                  <p>{{resMsg}}</p>
                </div>
            </mat-tab>

            <mat-tab label="Completed Goals">
                <div *ngFor = "let goal of goalArr">
                  <div *ngIf = "date.value.getTime() > goal.endDate.getTime()" class="goal-card">
                      <span>#{{ goal.name }}</span>
                      <span>
                          <span>OverAll Progress</span>
                          <span class="emphsis"> {{ getOverallProgress(goal) }}%</span>
                          <span>by {{goal.endDate.toLocaleDateString('en-US',{year: 'numeric', month: 'short', day: 'numeric'})}}</span>
                      </span>
                  </div>
                </div>
                <div class="end-row">
                    <button mat-flat-button class="full-button" (click)="directToProgress()">View Detailed Progress</button>
                </div>
            </mat-tab>
          </mat-tab-group>
    </div>

  </div>
</div>
