<div class="start-column">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [formControl]="date"
           placeholder="Choose a date to edit progress">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-tab-group class = "full-screen-bg">
    <mat-tab label="Active Goals" class="start-column">
      <div *ngFor = "let goal of goalArr">
        <div *ngIf = "goal.endDate.toDate().getTime() >= date.value.getTime()" class="goal-card">
            <span>#{{ goal.name }}</span>
            <span>
                <span>Actual</span>
                <input type="text" class="input-box" (input)="onTempEditProgress(goal.id,$event)">
                <span>/ Expected</span>
                <span class="emphsis">{{ goal.avgWorkload | number:'1.1-1'}}</span>
            </span>
        </div>
      </div>
      <div class="end-row">
          <button (click)="onUpdateProgress()" mat-flat-button class="empty-button">Save New Progress</button>
          <button mat-flat-button class="full-button">View Detailed Progress</button>
      </div>
    </mat-tab>

    <mat-tab label="Completed Goals">
        <div *ngFor = "let goal of goalArr">
          <div *ngIf = "date.value.getTime() > goal.endDate.toDate().getTime()" class="goal-card">
              <span>#{{ goal.name }}</span>
              <span>
                  <span>OverAll Progress</span>
                  <span class="emphsis"> %</span>
                  <span>by {{goal.endDate.toDate().toLocaleDateString()}}</span>
              </span>
          </div>
        </div>
        <div class="end-row">
            <button mat-flat-button class="full-button">View Detailed Progress</button>
        </div>
    </mat-tab>
  </mat-tab-group>
</div>
