<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav mode="side" opened>
    <div class="center">
        <img src="assets/images/WechatIMG872.jpeg" alt="profile-pic" width = "180" height = "180" class="profile-pict">
        <h2>{{ user.userName }}</h2>
    </div>
    <div class="center">
        <div class="menulist" routerLinkActive="router-link-active"><a [routerLink]="['new-goal']">New Goals</a></div>
        <div class="menulist" routerLinkActive="router-link-active"><a [routerLink]="['goal-check']">Daily Checkbox</a></div>
        <div class="menulist" routerLinkActive="router-link-active"><a [routerLink]="['personal-progress']">Personal Progress</a></div>
        <div class="menulist" routerLinkActive="router-link-active"><a [routerLink]="['groups']">Groups</a></div>
        <div class="menulist" routerLinkActive="router-link-active"><a [routerLink]="['profile']">Edit Profile</a></div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


