<div class="center-column-bg">
    <div>
      <h1>My<span> Smart</span> Goals and Progress</h1>
    </div>

    <div *ngFor="let goal of (goalArr$ | async)" class="panel">
      <mat-accordion >
        <mat-expansion-panel>
            <mat-expansion-panel-header class = "panel-header">
                <mat-panel-title>
                  <p>#{{ goal.name }}</p>
                </mat-panel-title>
                <mat-panel-description>
                  <p> Overall Progress: {{ getOverallProgress(goal) }}% </p>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="goal-info">
                <div class="goal-overall-info">
                  <div>
                      <p>Start Date: {{ goal.startDate.toLocaleDateString()}}</p>
                      <p>Due Date: {{ goal.endDate.toLocaleDateString()}}</p>
                      <p>Expected Daily Progress: {{ goal.avgWorkload}}</p>
                  </div>
                  <div>
                      <lib-ngx-liquid-gauge
                        [value]="getOverallProgress(goal)"
                        [minValue]="0"
                        [maxValue]="100"
                        [circleThickness]="0.2"
                        [circleFillGap]="0.05"
                        [circleColor]="'#FFA000'"
                        [waveHeight]="0.1"
                        [waveCount]="2"
                        [waveRiseTime]="4000"
                        [waveAnimateTime]="2000"
                        [waveRise]="true"
                        [waveHeightScaling]="true"
                        [waveAnimate]="true"
                        [waveColor]="'#FFCA28'"
                        [waveOffset]="0"
                        [textVertPosition]=".5"
                        [textSize]="1"
                        [valueCountUp]="true"
                        [displayPercent]="true"
                        [textColor]="'#FFB330'"
                        [waveTextColor]="'#757575'">
                      </lib-ngx-liquid-gauge>
                  </div>
                </div>

                <div class="chart-card">
                  <div class="chart-title">
                    <p style="margin-left: 15px">Daily Progress Distribution</p>
                  </div>
                  <div>
                      <app-barchart [data] = "goal"></app-barchart>
                  </div>
                </div>

                <div class="chart-card">
                    <div class="chart-title">
                      <p style="margin-left: 15px">Progress Calendar Heatmap</p>
                    </div>
                    <div class="chart">
                        <app-calendar-view [data] = "goal"></app-calendar-view>
                    </div>
                </div>
            </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

</div>
