<!-- navbars -->
<div *ngIf="!(path.startsWith('/mainpage'))">
    <mat-toolbar class="bar">
        <mat-toolbar-row>
          <button role= "link" routerLink = "/" mat-button class="button-text">Home</button>
          <span class = "spacer-left-right"></span>
          <button role= "link" routerLink = "/login" mat-button class="button-text">Log In</button>
          <button role= "link" routerLink = "/signup" mat-flat-button>Sign Up</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div>
    <router-outlet></router-outlet>
</div>


<!-- footer -->
<mat-toolbar class="bar">
    <mat-toolbar-row style = "justify-content: center">
      <span><button role= "link" mat-button class="button-text"> Thanks for visiting SmartGoals </button></span>
    </mat-toolbar-row>
</mat-toolbar>

