.center {
text-align: center;
margin: auto;
width: 60%;
}

.wide-margin {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:auto;
  margin-right:auto;
}

h1 {
  font-family: 'Lalezar', cursive;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-size: 3em;
}



.form {
  width: 100%;
}

.full-width {
  width: 100%;
}
