<div class="center">

    <div class="wide-margin">
        <h1>Log In Your Account</h1>
    </div>

    <div class="form">
        <form  (ngSubmit) = "onSubmit()" #f="ngForm" class="center-input">
          <mat-form-field class="full-width">
            <!-- required/email here are validators -->
              <input ngModel name="email"
                        required email
                        #email = "ngModel"
                        matInput placeholder="Email">
          </mat-form-field>
          <p class="invalid-msg" *ngIf="!email.valid && email.touched">* Please enter a valid email address</p>

          <mat-form-field class="full-width">
              <!-- <input ngModel name="password"
                        required
                        #pwd = "ngModel"
                        matInput placeholder="Password"> -->
              <input required [type]="hide ? 'password' : 'text'"
                        ngModel name="password"
                        #pwd = "ngModel"
                        matInput placeholder="Password">
              <button mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
          </mat-form-field>
          <p class="invalid-msg" *ngIf="!pwd.valid && pwd.touched">* This is a required field</p>
          <p *ngIf="loginStatus === false" class="invalid-msg">Sorry, Invalid email address or password, please try again :(</p>
          <button class = "wide-margin" mat-raised-button color="primary"
                  [disabled]="!f.valid">Log In</button>
        </form>
        <p *ngIf="errorMsg" class="invalid-msg">{{ errorMsg }}</p>
        <button class="wide-margin full-button" mat-flat-button
                (click)="userService.loginWithGoogle()">
                Log In with Google
              </button>
      </div>

  </div>

