
.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 20%;
  background:#757575;
  font-family: 'Source Sans Pro', sans-serif;
}

.center {
  text-align: center;
  padding-inline-start: 0;
  margin-bottom: 40%;
  }


.profile-pict {
  display: block;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border-radius: 50%;
}

.content {
  background:#eceff1;
}

a {
  text-decoration: none;
  color: white;
}

.menulist {
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 1.1rem;
  padding-inline-start: 0;
}

.menulist:hover {
  background: #616161;
}

.router-link-active {
  background: #512da8;
}

h2 {
  color: #512da8;
}



