<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav mode="side" opened>
    <div class="center">
        <img class="profile-pict" [src]="userPhotoURL">
        <h2>{{ userName }}</h2>
    </div>
    <div class="center">
        <div class="menulist" routerLinkActive ="router-link-active"><a [routerLink]="['new-goal']">New Goals</a></div>
        <div class="menulist" routerLinkActive ="router-link-active"><a [routerLink]="['goal-management']">Goals Overview</a></div>
        <div class="menulist" routerLinkActive ="router-link-active"><a [routerLink]="['personal-progress']">Personal Progress</a></div>
        <div class="menulist" routerLinkActive ="router-link-active"><a [routerLink]="['profile']">Edit Profile</a></div>
        <div class="menulist" routerLinkActive ="router-link-active" [routerLinkActiveOptions] = "{exact: true}"><a [routerLink]="['./']">Home</a></div>
        <div class="menulist" routerLinkActive ="router-link-active" [routerLinkActiveOptions] = "{exact: true}" (click)="onLogout()"><a routerLink="">Log Out</a></div>
    </div>
    <div class="margin-bottom">
      <div *ngIf="defaultPhoto">@Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>



