<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav mode="side" opened>
    <div class="center">
        <img src="assets/images/WechatIMG872.jpeg" alt="profile-pic" class="profile-pict">
        <h2>{{ user.userName }}</h2>
    </div>
    <div class="center">
        <div class="menulist" routerLinkActive ="router-link-active" (click)="isMainpage=false"><a [routerLink]="['new-goal']">New Goals</a></div>
        <div class="menulist" routerLinkActive ="router-link-active" (click)="isMainpage=false"><a [routerLink]="['goal-management']">Goals Management</a></div>
        <div class="menulist" routerLinkActive ="router-link-active" (click)="isMainpage=false"><a [routerLink]="['personal-progress']">Personal Progress</a></div>
        <div class="menulist" routerLinkActive ="router-link-active" (click)="isMainpage=false"><a [routerLink]="['profile']">Edit Profile</a></div>
        <div class="menulist" routerLinkActive ="router-link-active" [routerLinkActiveOptions] = "{exact: true}" (click)="mainpage=false"><a routerLink="">Log Out</a></div>
    </div>
    <div class="margin-bottom"></div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <div class="header-bg">
      <h1 *ngIf="isMainpage">Welcome,</h1>
      <h1 *ngIf="isMainpage" class="name-text">{{ user.userName }}</h1>
    </div>
    <div *ngIf="isMainpage" class="intro">
      <p class="intro-text">Get started by adding your <br>new Smart Goal!</p>
      <button [routerLink]="['new-goal']" mat-flat-button class="full-button">Add New Goal</button>
    </div>
    <div *ngIf="!isMainpage" class="absolute-position">
        <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>


