
.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 16%;
  background:#3e0c7a;
  font-family: 'Source Sans Pro', sans-serif;
}

::ng-deep {
  .mat-drawer-inner-container {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  width:inherit;
  }

  .margin-bottom {
    height: 5%;
    text-align: center;
  }


.profile-pict {
  display: block;
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border-radius: 50%;
  width: 80%;
}

.content {
  background:#eeeeee;
}

a {
  text-decoration: none;
  color: white;
}

.menulist {
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 1.1rem;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
  width:inherit;
}

.menulist:hover {
  background: #684e95;
}

.router-link-active {
  background: #684e95;
}

h2 {
  color: white;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4.5em;
  padding-left: 10%;
  margin-block-end: 0em;
  margin-block-start: 0em;
}

h3 {
  font-family: 'Lalezar', cursive;
  font-size: 3em;
  color:black;
  margin-block-start: 0px;
}

span {
  color: #3e0c7a;
}

.name-text {
  font-size:2.5em;
  margin-block-start: 0.5em;
}

.center-row {
  display: flex;
  align-items: center;
  // justify-content: space-around;
  margin-top: 1%;
  margin-left: 10%;
}

.intro-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
  color: #f9a825;
}

.header-bg {
  display: flex;
  height: 250px;
  background-color:#cabfdf;
  color: #3f327a;
  align-items: center;
}

.absolute-position {
  position: absolute;
  background:white;
  padding-bottom: 4%;
  width: 50%;
  top:120px;
  left:8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.full-button {
  background: #ffb300;
  color: white;
}

.intro-img {
  width: 900px;
}
