.center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:5%;
}

.center-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width:100%;
}

.start-column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.left-margin {
  margin-left:10px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

.mat-form-field {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
  width: 300px;
}

.photo-preview {
  width: 250px;
  height: 250px;
  margin-top: 10%;
}

.full-button {
  background: #ffb300;
  width: 80px;
  margin-right: 10px;
  margin-left: 10px;
  color:white;
  margin-bottom: 10%;
}

.dash-border {
  border: dashed #3f327a 5px;
  padding: 3%;
  width: 70%;
  border-radius: 15px;
}
