
h2 {
  font-family: 'Lalezar', cursive;
  font-size: 100px;
  margin-bottom:0;
  margin-top:0;
  color: #512da8;
}

.center-column-bg {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
.center-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:100%;
}

.input-list {
  width: 180%;
}

.statics{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 5%;
  font-family: 'Source Sans Pro', sans-serif;
}

.full-button {
  background: #ffb300;
  color: white;
}

.absolute-position {
  position: absolute;
  background:white;
  padding-bottom: 4%;
  margin-bottom: 5%;
  width: 50%;
  top:150px;
  left:8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.absolute-text {
  position: absolute;
  width: 50%;
  top:50px;
  left:8%;
  text-align: center;
}

.fixed-bgImg {
  position: fixed;
  bottom:0px;
  right: 2%;
}

img {
  width: 700px;
}

h3 {
  font-family: 'Lalezar', cursive;
  font-size: 3em;
  color:black;
  margin-block-start: 0px;
}

span {
  color: #3e0c7a;
}

.header-bg {
  display: flex;
  height: 250px;
  background-color:#cabfdf;
  color: #3f327a;
  align-items: center;
}

.msg {
  font-family: 'Source Sans Pro', sans-serif;
}

