.center {
text-align: center;
margin: auto;
width: 60%;
}

.center-bg {
  text-align: center;
  margin: 100px auto;
  width: 60%;
  }

.wide-margin {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:auto;
  margin-right:auto;
}

.full-button {
  background: #ffb300;
  color: white;
}

h1 {
  font-family: 'Lalezar', cursive;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-size: 3em;
}



.form {
  width: 100%;
}

.full-width {
  width: 100%;
}

/* textarea .ng-invalid .ng-touched {
  border: 1px solid red;
} */

.invalid-msg {
  font-family: 'Source Sans Pro', sans-serif;
  text-align:left;
  font-size: 0.8em;
  font-style: italic;
  color: red;
}
